@font-face {
  font-family: "font-h1med";
  src: url(./Assets/fonts/Rajdhani-Medium.ttf);
}
@font-face {
  font-family: "font-h2bold";
  src: url(./Assets/fonts/Rajdhani-Bold.ttf);
}
@font-face {
  font-family: "font-txt";
  src: url(./Assets/fonts/SpaceGrotesk-Regular.ttf);
}
:root {
  --yellow-color: #ffff00;
  --yellow-light: #f8f184;
  --gradient-white: #eddebf69;
  --orange: #f3942e;
}
/* paramètres généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "font-h1med", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
header {
  background: url(./Assets/img/Batgame_1.png) center/cover;
  background-color: #0a0a0a;
  height: 800px;
}
body {
  color: #ffffff;
  background: #000000;
  font-family: "font-txt", sans-serif;
  font-weight: 300;
}
.up-bar {
  opacity: 40%;
  border-top: #bcbbbd 4px solid;
  position: relative;
  top: 132px;
  left: 102px;
  width: 84%;
}
.left-bar {
  opacity: 20%;
  position: fixed;
  top: 0;
  right: 140px;
  height: 100%;
  width: 2px;
  background-color: rgb(149, 149, 149);
}
.right-bar {
  opacity: 20%;
  position: fixed;
  top: 0;
  left: 102px;
  height: 100%;
  width: 2px;
  background-color: rgb(149, 149, 149);
}
/* paramètres pour la partie header */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-left: 45px;
}
nav ul a {
  color: var(--white);
  font-size: 30px;
  font-weight: 500;
  font-family: "font-h1med";
  text-transform: uppercase;
}
nav ul a:hover {
  color: var(--yellow-color);
}
.logo:hover {
  filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg)
    brightness(109%) contrast(104%);
}
.preorder {
  margin-top: 200px;
  margin-left: 150px;
}
.preorder h1 {
  font-size: 56px;
}

/* design pour le scroll avec logo réseaux sociaux */
.scroll {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 90px;
  top: 230px;
}
.scroll .social {
  margin-top: 15px;
}
/* design pour la flèche bas */
.flechebas {
  display: block;
  margin: 100px auto;
  margin-left: 50%;
}
/* design pour le quiz */

.start-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.startBtn {
  margin-top: 20px;
}

.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  display: none;
}
.quiz-header {
  font-family: "font-txt";
  font-size: 22px;
  margin-top: 20px;
}
.quiz-contain {
  padding: 120px;
  font-family: "font-txt";
  font-size: 15px;
}
.quiz-contain p {
  margin: 15px auto;
}
.quiz-contain ul {
  list-style: none;
}
.quiz-contain li {
  background-color: #bcbbbd;
  margin-bottom: 10px;
}
ul li label {
  cursor: pointer;
}
button {
  background-color: none;
  border-color: none;
  text-transform: uppercase;
  font-family: "font-txt";
  font-size: 15px;
  cursor: pointer;
  padding: 10px 30px;
}
button:hover {
  color: #ffffff;
  background: linear-gradient(80deg, var(--gradient-white), var(--orange));
}

/* design pour le footer */

footer {
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}
.disclamer img {
  width: 20px;
  margin-right: 10px;
}
.disclamer {
  display: flex;
  font-size: 12px;
  justify-content: center;
}
.logo-footer {
  text-align: center;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item img {
  width: 30px;
  margin-right: 10px;
}
.social-item1 img {
  width: 20px;
  padding-right: 7px;
}
